@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: gray !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,
  asset-url('green-chameleon-s9CC2SKySJM-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#page-content {
  background-color: lightgrey;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
